<div class="modal" id="myModalRead">
  <style>
tbody, td, tfoot, th, thead, tr {
    padding: 4px 1px 1px 6px !important;
}
  </style>
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <div class="modal-body" style="padding: 0px 10px; word-spacing: 3px;">
          <form id="readModal">
            <div class="" style="padding: 10px 0px 5px 40px;">
                <img crossorigin="anonymous" class="headerImg1" src="img/Picture1.jpg" />
                <img crossorigin="anonymous" class="headerImg1" src="img/Picture2.jpg" />
                <img crossorigin="anonymous" class="headerImg1" src="img/Picture3.jpg" />
                <img crossorigin="anonymous" class="headerImg1" src="img/Picture4.jpg" />
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6" style="margin-left: 45px;">
                <b>
                  <h6 style="word-spacing: 3px;" class="readMainFont"><span style="margin-right: 4px;">GUGGENHEIM</span>
                   <span style="margin-right: 4px;">ABU</span> <span style="margin-right: 4px;">DHABI</span> 
                   <span style="margin-right: 4px;">MUSEUM</span> <span style="margin-right: 4px;">PROJECT-MAIN WORKS</span></h6>
                  <h6 style="word-spacing: 3px;" class="readMainFont" style="margin-left: 35px;">
                    <span style="margin-right: 4px;">INSPECTION</span><span style="margin-right: 4px;">CHECKLIST-REBAR</span>
                    <span style="margin-right: 4px;"> COUPLER </span> <span style="margin-right: 4px;">TESTING</span></h6>
                </b>
              </div>
              <div class="col-md-3"></div>
            </div>
            <hr class="hrstyle">
            <div class="row">
              <div class="col-md-6" style="border-right: 1px solid grey;">
                <div class="form-group row" style="margin-top: 10px;">
                  <label for="dateOfTesting" class="col-sm-4 col-form-label alignCss">Date of Testing:</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" id="dateOfTestingRead"
                       readonly="readonly" />
                  </div>
                </div>
                <div style="margin-top: 5px;" class="form-group row">
                  <label for="timeOfTesting" class="col-sm-4 col-form-label alignCss">Time of Testing:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="timeOfTestingRead"
                       readonly="readonly">
                  </div>
                </div>
                <div style="margin-top: 5px; margin-bottom: 10px;" class="form-group row">
                  <label for="locationOfTesting" class="col-sm-4 col-form-label alignCss">Location of Testing:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="locationOfTestingRead"
                       readonly="readonly" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="dateOfTesting" class="col-sm-2 col-form-label alignCss">Client:</label>
                  <label for="dateOfTesting" class="col-sm-10 col-form-label">Department of Culture and Tourism
                    (DCT)</label>
                </div>
                <div style="margin-top: 5px;" class="form-group row">
                  <label for="dateOfTesting" class="col-sm-2 col-form-label alignCss">Contractor:</label>
                  <label for="dateOfTesting" class="col-sm-10 col-form-label">Sixco-Trojan Joint Venture (STJV)</label>
                </div>
                <div style="margin-top: 5px; margin-bottom: 10px;" class="form-group row">
                  <label for="dateOfTesting" class="col-sm-2 col-form-label alignCss">Project:</label>
                  <label for="dateOfTesting" class="col-sm-10 col-form-label">Sobha Hartland</label>
                </div>
              </div>
            </div>
            <hr class="hrstyle" style="margin-top: 10px;">
            <div class="row">
              <div class="col-md-6" style="border-right: 1px solid grey;"><b style="margin-left: 210px;">Description</b>
              </div>
              <div class="col-md-6"><b style="margin-left: 210px;">Status</b></div>
            </div>
            <hr class="hrstyle">
            <div class="row">
              <div class="col-md-6" style="border-right: 1px solid grey;">
                <div class="form-group row" style="margin-top: 10px;">
                  <label for="structure" class="col-sm-4 col-form-label alignCss">Structure:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="structureRead"
                      readonly="readonly" />
                  </div>
                </div>
                <div style="margin-top: 5px;" class="form-group row">
                  <label for="typeOfStructure" class="col-sm-4 col-form-label alignCss">Type of Structure:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="typeOfStructureRead"
                     readonly="readonly">
                  </div>
                </div>
                <div style="margin-top: 5px;" class="form-group row">
                  <label for="rdNo" class="col-sm-4 col-form-label alignCss">Reference Drawing:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="rdNoRead"
                    readonly="readonly" />
                  </div>
                </div>
                <div style="margin-top: 5px;" class="form-group row">
                  <label for="statementRef" class="col-sm-4 col-form-label alignCss">Method Statement:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="statementRefRead"
                      placeholder="Enter method statement no" readonly="readonly" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-1"><input style="height:40px; width: 25px;" type="checkbox" id="consentRead" readonly="readonly" /></div>
                  <div class="col-md-11"><label class="col-form-label">: Consent to Proceed</label></div>
                </div>
                <div class="row">
                  <div class="col-md-1"><input style="height:40px; width: 25px;" type="checkbox" id="yesConsentRead" readonly="readonly" />
                  </div>
                  <div class="col-md-11"><label class="col-form-label">: Consent to proceed, subject to comment</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-1"><input style="height:40px; width: 25px;" type="checkbox" id="noConsentRead" readonly="readonly" />
                  </div>
                  <div class="col-md-11"><label class="col-form-label">: No Consent to proceed</label></div>
                </div>
                <div class="row">
                  <div class="col-md-1"><input style="height:40px; width: 25px;" type="checkbox" id="reviewNotRead" readonly="readonly" />
                  </div>
                  <div class="col-md-11"><label class="col-form-label">: Review not required, for information</label>
                  </div>
                </div>
              </div>
            </div>
            <hr class="hrstyle">
            <div class="row" style="margin-top: 5px;">
              <div class="col-md-12">
                <div class="form-group row">
                  <label for="inspectionType" class="col-sm-2 col-form-label alignCss"><b>Inspection&nbsp;Type:</b></label>
                  <div class="col-sm-4">
                    <select id="inspectionTypeRead" class="form-control" readonly="readonly">
                      <option value="0"> Please Select </option>
                      <option value="sbe"> SAND BLAST CLEANING OF REBARS</option>
                      <option value="swd"> SEA WALL DILIGENCE</option>
                      <option value="sw"> SHOTCRETE WORKS</option>
                      <option value="sri"> STEEL REINFORCEMENT INSTALLATION</option>
                      <option value="tc"> THERMAL CONTROL</option>
                      <option value="wp1"> WP1 WATERPROOFING</option>
                      <option value="wp2"> WP2 WATERPROOFING</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: -30px;">
              <%- include('types/sandBlastRead.ejs') %>
                <%- include('types/seaWallRead.ejs') %>
                  <%- include('types/shotcreteWorks.ejs') %>
                    <%- include('types/steelInstallation.ejs') %>
                      <%- include('types/thermalControl.ejs') %>
                        <%- include('types/waterProofOne.ejs') %>
                          <%- include('types/waterProofTwo.ejs') %>
            </div>
            <hr>
            <button style="float: right;margin: 10px;" type="button" class="btn btn-danger"
              id="modalCancelRead" data-dismiss="modal">Close</button>
              <button style="float: right;margin: 10px;" type="button" class="btn btn-success" id="exportPdf">Print</button>
          </form>
        </div>

      </div>
    </div>
  </div>